ul {
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
    width: 200px;
    height: 150px;
    margin-bottom: 0px;

}
li {
    background: tomato;
    line-height: 200px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}